#cover-image {
  display: block;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
  border: 0 !important;
  padding-bottom: 50%;
  background-color: white;
  overflow: hidden;
  width: 100%
}

#header {
  position: relative;
  margin: auto
}

@media (max-width: 1199px) {
  #header {
    width: 95%
  }

  #cover-image {
    padding-bottom: 50%;
    border-width: 8px
  }
}

@media (min-width: 1200px) {
  #header {
    width: 75%
  }
}
