#main-nav {
  display: block
}

#main-nav > ul > li {
  position: relative;
  display: inline-block;
  padding: 8px 12px;
  text-transform: uppercase
}

#main-nav li a.selected, #main-nav li a:hover {
  color: #FFFFFF
}

#main-nav li a {
  font-family: "Orbitron", "sans-serif";
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
  color: #D9D9D9
}

#main-nav-container {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  text-align: center;
  z-index: 1;
  display: flex;
  align-items: center;
  height: 84px
}

.main-nav-container-inner {
  position: relative;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto
}

.main-nav-container-container {
  min-height: 0 !important
}

#main-container.details-page #main-nav-container {
  margin-bottom: 0
}

.main-nav-container-inner:before, .main-nav-container-inner:after {
  content: " ";
  display: table
}

.main-nav-container-inner:after {
  clear: both
}

@media (max-width: 1199px) {
  .main-nav-container-inner {
    max-width: 90%
  }
}

@media (min-width: 1200px) {
  .main-nav-container-inner {
    max-width: 70%
  }
}
