.current {
  color: green;
}






h2, #wedding-date-location {
  font-size: 1.25rem !important
}

#content {
  margin-top: 10px
}

.section-separator {
  margin: 20px auto 20px auto
}

.content {
  margin-top: 20px
}

.footer {
  padding-top: 50px
}

button {
  border-radius: 2px;
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: 1px;
  transition: all .25s
}

@media (max-width: 767px) {
  #separator {
    display: none
  }
  #wedding-date {
    display: block
  }
  #wedding-location {
    display: block
  }
}

body {
  font-size: 16px
}

a, a:hover, body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  color: #D9D9D9
}

button {
  font-family: "Orbitron", "sans-serif";
  font-style: normal;
  font-weight: normal;
  color: #000000;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  background-color: #F9F9F9
}

button:hover {
  background-color: #9BA7B2
}

#main-nav li a {
  font-family: "Orbitron", "sans-serif";
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
  color: #D9D9D9
}


.section-separator {
  height: 1px
}
