a, a:hover, body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  color: #D9D9D9
}

a:hover {
  text-decoration: none
}

body {
  height: 100%;
  font-size: 10px;
  //font-size: 16px;
  min-height: 100%;
  max-width: 100vw;
  margin: 0
}

button {
  font-family: "Orbitron", "sans-serif";
  font-style: normal;
  font-weight: normal;
  color: #000000;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  background-color: #F9F9F9;
  border-radius: 2px;
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: 1px;
  transition: all .25s;
  display: inline-block;
  padding: 0.46em 1.23em;
  outline: 0
}

button:hover {
  background-color: #9BA7B2
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  font-weight: 300;
  font-style: normal;
  color: #111;
  text-rendering: optimizeLegibility
}

h2 {
  font-size: 3em;
  margin: 0.25em 0
}

h3 {
  font-size: 2.4em;
  margin: 0.2em 0 0.6em 0
}

h4 {
  font-size: 2em;
  margin: 0.2em 0
}

h5 {
  font-size: 1.5em;
  margin: 0.6em 0
}

h6 {
  font-size: 1.8em;
  margin: 0.6em 0
}

html {
  margin: 0;
  font-size: 100%;
  height: 100%
}

input {
  outline: none
}

li {
  list-style: none
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.4em
}

ul {
  margin: 0;
  padding: 0
}

#content {
  margin-top: 60px
  //margin-top: 10px
}

#content a {
  text-decoration: underline
}

.center {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center
}

.center-vertical-horizontal {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto
}

.center-block, .page {
  display: block;
  margin-right: auto
}

@media (min-width: 1200px) {
  .theme-image-container, .theme-image-container-bottom {
    padding: 0;
    height: 120px
  }

  .center-block, .page {
    margin-left: 150px
  }
}

@media (max-width: 1199px) {
  #content {
    margin-top: 20px
  }

  .center-block, .page {
    margin-left: 20px
  }
}
