.current {
  color: green;
}






@media (min-width: 768px) {
  .main-nav-container-container {
    min-height: 0 !important
  }
  #main-nav-container {
    display: flex;
    align-items: center;
    padding: 0;
    height: 84px
  }
}

h2, #wedding-date-location, #wedding-countdown {
  font-size: 1.25rem !important
}

#content {
  margin-top: 10px
}

.section-image-container, .location-section-image-container {
  margin-top: 20px;
  margin-bottom: 20px
}

.item-image-container {
  margin-top: 20px;
  margin-bottom: 20px
}

.location-image-container {
  margin-top: 20px;
  margin-bottom: 20px
}

.item-image, .location-image {
  border: 0;
  max-height: 800px
}

.section-separator, .location-section-separator {
  margin: 20px auto 20px auto
}

.item-separator, .location-separator {
  margin-top: 15px;
  margin-bottom: 15px
}

.item-button-container {
  margin-top: 15px;
  margin-bottom: 15px
}

.content {
  margin-top: 20px
}

.footer {
  padding-top: 50px
}

button {
  border-radius: 2px;
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: 1px;
  transition: all .25s
}

button.mfp-arrow {
  border: 0 !important
}

.item-image, .section-image, .location-section-image {
  border: 0 !important;
  background: transparent
}

.main-nav-container-container:not(.nav-open) {
  height: 84px
}

@media (max-width: 767px) {
  #separator {
    display: none
  }
  #wedding-date {
    display: block
  }
  #wedding-location {
    display: block
  }
}

body, .footer-text {
  font-size: 16px
}

a, a:hover, body, .footer-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  color: #D9D9D9
}

button {
  font-family: "Orbitron", "sans-serif";
  font-style: normal;
  font-weight: normal;
  color: #000000;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  background-color: #F9F9F9
}

button:hover {
  background-color: #9BA7B2
}

#main-nav li a {
  font-family: "Orbitron", "sans-serif";
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
  color: #D9D9D9
}

#main-nav li a.selected, #main-nav li a:hover {
  color: #FFFFFF
}

#main-nav-container.fixed {
  background-color: rgba(29, 53, 79, 0.9)
}

.location-section-separator, .section-separator {
  height: 1px
}
