#main-container-background {
  background-image: url(../images/background.jpg);
  background-repeat: repeat;
  background-position: top
}

#main-container-background, #main-nav > ul > li > ul {
  background-color: #1D354F
}

#main-container-background {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-position: center
}

#main-container-background {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-position: center
}

#main-container.content-page #content, #main-container.details-page #content {
  margin-top: 0
}

#main-container.content-page #content, #main-container.details-page #content {
  margin-top: 0
}

#main-container.details-page #main-nav-container {
  margin-bottom: 0
}

#main-container.details-page #main-nav-container {
  margin-bottom: 0
}

@import url("//fonts.googleapis.com/css?family=Indie+Flower:400|Orbitron:400");
#title-container {
  background: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 0;
  margin: 0 5%
}

#title-container {
  position: relative;
  padding: 5px 10px 20px 0;
  text-align: center;
  background-color: white
}

#title-container #wedding-title, #title-container #wedding-date-location {
  color: #fff
}

@media (max-width: 767px) {
  #wedding-title {
    font-size: 28px !important
  }

  #wedding-date-location {
    font-size: 18px !important
  }

  #title-container {
    padding-bottom: 13px
  }
}

#cover-image {
  border: 0 !important;
  position: relative
}

#cover-image #title-container {
  position: absolute;
  top: 50%;
  left: 5%;
  right: 5%;
  z-index: 10;
  margin: 0;
  color: #fff;
  transform: translateY(-50%);
  padding: 0 !important
}

#wedding-title {
  font-family: "Orbitron", "sans-serif";
  font-size: 3.5rem;
  font-style: normal;
  font-weight: normal;
  color: #000000
}

#wedding-title {
  margin: 6px 0 8px 0;
  line-height: 1
}

#wedding-date-location {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  color: #000000
}

@media (max-width: 767px) {
  .main-nav-container-inner button.main-nav {
    border: 0 !important;
    font-size: 11px;
    width: 47px;
    height: 47px;
    background: #FFF;
    overflow: hidden;
    text-indent: -100000px;
    border-radius: 100%;
    margin: 0;
    position: fixed;
    left: 9px;
    top: 9px;
    z-index: 1000;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4)
  }

  .main-nav:after, .main-nav:before {
    content: "";
    position: absolute;
    left: 20%;
    top: 50%;
    width: 60%;
    margin-top: -0.15em;
    height: 0.3em;
    background: #000;
    transition: all .4s;
    box-shadow: 0 -0.7em 0 0 black, 0 0.7em 0 0 black
  }

  .main-nav:after {
    box-shadow: 0 -0.7em 0 0 black, 0 0.7em 0 0 black
  }

  .nav-open .main-nav:after {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    transform: rotateZ(45deg)
  }

  .nav-open .main-nav:before {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    transform: rotateZ(-45deg)
  }

  body.nav-open {
    overflow: hidden
  }

  .theme-image-container {
    padding-bottom: 20%
  }

  #title-container {
    padding-top: 10px
  }

  #main-nav {
    margin-top: 0;
    padding-top: 0;
    background: rgba(0, 0, 0, 0.7);
    height: 0;
    position: fixed;
    z-index: 10;
    width: 100%;
    opacity: 0;
    transition: all .5s;
    display: block;
    overflow: hidden
  }

  #main-nav > ul > li {
    padding: 20px 20px
  }

  #main-nav-container {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 67px
  }

  .main-nav-container-container {
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 0;
    z-index: 10
  }

  #main-nav.visible {
    opacity: 1;
    height: 100%
  }

  .main-nav-hidden ul {
    padding-top: 0;
    background: #fff;
    color: #000;
    box-shadow: 2px 0 5px black
  }

  #main-nav li a {
    color: rgba(0, 0, 0, 0.6) !important;
    transition: color .5s
  }

  #main-nav li a.selected, #main-nav li a:hover {
    color: #000 !important
  }

  .main-nav-hidden ul:before {
    content: "MENU";
    text-align: center;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 1em;
    letter-spacing: 1px;
    height: 67px;
    line-height: 67px;
    background: rgba(0, 0, 0, 0.1);
    font-weight: normal
  }

  .main-nav-hidden ul li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05)
  }

  .main-nav-hidden ul li:last-child {
    border-bottom: none
  }

  #cover-image {
    padding-bottom: 80%
  }
}

@media only screen and (min-width: 1201px) {
  h1, #wedding-title {
    font-size: 3.5rem;
    line-height: 1.4 !important
  }

  div[class*='-note'], div[class*='-address'], div[class*='-date'] {
    font-size: 1rem
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  h1, #wedding-title {
    font-size: 3rem !important;
    line-height: 1.4 !important
  }

  div[class*='-note'], div[class*='-address'], div[class*='-date'] {
    font-size: 1rem
  }
}

@media only screen and (max-width: 767px) {
  h1, #wedding-title {
    font-size: 1.75em !important;
    line-height: 1.4 !important
  }

  div[class*='-description'], div[class*='-description'] p, div[class*='-note'], div[class*='-address'], div[class*='-date'] {
    font-size: 1rem
  }
}

.theme-image-container, .theme-image-container-bottom {
  width: 100%;
  padding-bottom: 12%
}

.theme-image-container {
  position: relative
}

.theme-image-container-bottom {
  position: absolute;
  bottom: 0
}

.theme-image-container-left, .theme-image-container-right {
  width: 12%;
  max-width: 132px;
  position: fixed;
  top: 0;
  bottom: 0
}

.theme-image-container-right {
  right: 0
}

.theme-image, .theme-image-layer-top, .theme-image-bottom, .theme-image-left, .theme-image-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat
}

@media (min-width: 1200px) {
  #main-container {
    padding-bottom: 120px
  }

  .theme-image-container, .theme-image-container-bottom {
    padding: 0;
    height: 120px
  }
}

@media (max-width: 1199px) {
  .theme-image-left, .theme-image-right {
    visibility: hidden !important;
    display: none !important
  }

  #content {
    margin-top: 20px
  }
}

.theme-image-container-bottom {
  position: absolute;
  bottom: 0
}

.theme-image-container-bottom {
  position: absolute;
  bottom: 0
}

.theme-image-container, .theme-image-container-bottom {
  width: 100%;
  padding-bottom: 12%
}

.theme-image-container {
  position: relative
}

.theme-image-container-bottom {
  position: absolute;
  bottom: 0
}

.theme-image-container-left, .theme-image-container-right {
  width: 12%;
  max-width: 132px;
  position: fixed;
  top: 0;
  bottom: 0
}

.theme-image-container-right {
  right: 0
}

.theme-image, .theme-image-layer-top, .theme-image-bottom, .theme-image-left, .theme-image-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat
}


@media (min-width: 1200px) {
  #main-container {
    padding-bottom: 120px
  }

  .theme-image-container, .theme-image-container-bottom {
    padding: 0;
    height: 120px
  }
}

@media (max-width: 1199px) {
  .theme-image-left, .theme-image-right {
    visibility: hidden !important;
    display: none !important
  }

  #content {
    margin-top: 20px
  }
}


.theme-image-layer-top {
  background-position: top center;
  background-image: url(../images/top.jpg);
}

.theme-image {
  background-repeat: repeat-x;
  background-image: url(../images/extra.jpg)
}

.theme-image-bottom {
  background-position: bottom center;
  background-image: url(../images/bottom.jpg)
}

.theme-image-left {
  background-position: left top;
  background-size: 100% auto;
  background-image: url(../images/left.jpg)
}

.theme-image-right {
  background-position: right top;
  background-size: 100% auto;
  background-image: url(../images/right.jpg)
}

